*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --red: #e07a5f;
  --white: #f4f1de;
  --black: #3d405b;
}

html {
  font-family: monospace;
  background-color: lightgray;
  color: var(--black);
}

body {
  padding-top: 20px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--red);
  width: 360px;
  height: 760px;
  border-radius: 20px;
}

main {
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

li {
  margin-bottom: 10px;
}
