/*Fonts*/

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*General Stylings*/
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --red: #e07a5f;
  --white: #f4f1de;
  --black: #3d405b;
}

html {
  font-family: Lato;
  background-color: lightgray;
  color: var(--black);
}

body {
  padding-top: 20px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--red);
  width: 360px;
  min-height: 760px;
  border-radius: 20px;
  overflow: auto;
}

main {
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

li {
  margin-bottom: 10px;
}
