*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --red: tomato;
  --white: #f4f1de;
  --black: #3d405b;
}

html {
  font-family: monospace;
}

header {
  background-color: rgb(10, 189, 189);
  padding: 10px;
}

body {
  background-color: lightsalmon;
}

a {
  text-decoration: none;
}

li {
  margin-bottom: 10px;
}
